.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  label {
    font-size: 20px;
    color: black;
  }
  ​
  input {
    min-width: 18em;
    height: 37px;
    font-family: "Open Sans", sans-serif;
  }
  ​

  .fonty{
    color:rgba(3, 118, 126, 0.671);
    font-family: "Courier New", Courier, monospace;
  
  }
  .form-control{
    display: inline;
  }
  .btn-info{
    width: 100%;
    font-size: 20px;
  }

  .jumbotron{
    background-color:whitesmoke;
  }

  .btn-info{
    background-color: rgba(3, 118, 126, 0.671);
    border-color: rgba(3, 118, 126, 0.671);
  }
  .Forma{
    border-radius: 5px; 
    border: 1px solid rgba(14, 139, 148, 0.116);
    box-shadow: 0 3px 8px 0 rgba(14, 139, 148, 0.116); 
    padding: 10px;
  }